<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hebras Contacto</title>
    <link rel="stylesheet" href="../css/stylegrids.css">
</head>

<body>
    <!-- inicio header -->
    <header>
        <nav class="navbar">
            <a href="../../Index.html" class="logo"><img src="../image/logo2.svg" alt="Logo Hebras"></a>
            <ul class="menu">
                <li><a href="../views/materiales.html"> Materiales</a></li>
                <li><a href="../views/galeria.html"> Galeria</a></li>
                <li><a href="../views/nosotros.html"> Nosotros</a></li>
                <li><a href="../views/contacto.html"> Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- fin header -->
    <!-- inicio main -->
    <main class="formulario">
        <form action="" method="POST" enctype="">
            <label for="">Nombre y Apellido:</label><br>
            <input type="text" name="Nombre y Apellido" id="" placeholder="Nicolas Menini"><br>
            <label for="">Email:</label><br>
            <input type="email" name="Email" id="" placeholder="Ejemplo@hotmail.com"><br>
            <label for="">Telefono:</label><br>
            <input type="number" name="Numero" id="" placeholder="12345678"><br>
            <label for="">Consulta:</label><br>
            <textarea name="textarea" rows="10" cols="50" placeholder="Escriba aqui"></textarea><br>
            <button type="reset">Resetear</button><br>
            <button type="submit">Enviar</button>

        </form>
    </main>
    <!-- fin main -->
    <!-- inicio footer -->
    <footer>
        <ul>
            <li><a target="_blank" href="https://www.instagram.com/hebrastienda/?hl=es-la">Instagram</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCeF1BY-279NnU1FML8DUvXA/videos">Youtube</a>
            </li>
        </ul>
    </footer>
    <!-- fin footer -->
</body>

</html>