<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hebras Galeria</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- inicio header -->
    <div class="grid_galeria">
    <header>
        <nav class="navbar">
            <a href="../../index.html" class="logo"><img src="../image/logo2.svg" alt="Logo Hebras"></a>
            <ul class="menu">
                <li><a href="../views/materiales.html"> Materiales</a></li>
                <li><a href="../views/galeria.html"> Galeria</a></li>
                <li><a href="../views/nosotros.html"> Nosotros</a></li>
                <li><a href="../views/contacto.html"> Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- fin header -->
    <!-- inicio main -->
    <main class="galeria">
        <h2 class="titulogaleria">Galeria</h2>
        <h3 class="subgaleria">Algunos de nuestros trabajos</h3>
        <div class="foto1_2">
            <img src="../image/foto1.jpeg" alt="Almohadones y Mate" width="200px">
            <img src="../image/foto2.jpeg" alt="Dona" width="250px">
        </div>
        <div class="foto3_4">
            <img src="../image/foto3.jpeg" alt="Alfombra" width="250px">
            <img src="../image/foto4.jpeg" alt="Banquitos" width="200px">
        </div>
        <div class="foto5_6">
            <img src="../image/foto5.jpeg" alt="Frutera" width="200px">
            <img src="../image/foto6.jpeg" alt="Top" width="200px">
        </div>
    </main>
    <!-- fin main -->
    <!-- inicio footer -->
    <footer>
        <ul>
            <li><a target="_blank" href="https://www.instagram.com/hebrastienda/?hl=es-la">Instagram</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCeF1BY-279NnU1FML8DUvXA/videos">Youtube</a>
            </li>
        </ul>
    </footer>
    <!-- fin footer -->
</div>
</body>

</html>