<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hebras Materiales</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- inicio header -->
    <header>
        <nav class="navbar">
            <a href="../../Index.html" class="logo"><img src="../image/logo2.svg" alt="Logo Hebras"></a>
            <ul class="menu">
                <li><a href="../views/materiales.html"> Materiales</a></li>
                <li><a href="../views/galeria.html"> Galeria</a></li>
                <li><a href="../views/nosotros.html"> Nosotros</a></li>
                <li><a href="../views/contacto.html"> Contacto</a></li>
            </ul>
        </nav>
    </header>
    <!-- fin header -->
    <!-- inicio main -->
    <main class="tabla">
        <table border cellpadding="15px" cellspacing="5px">
            <tr>
                <th>Material</th>
                <th>Pros</th>
                <th>Contras</th>
            </tr>

            <tr>
                <td>Totora</td>
                <td>
                    <ul>
                        <li>Barato</li>
                        <li>Reciclable</li>
                        <li>Fresco</li>
                        <li>Resistente</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Pesado</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Lana de algodon</td>
                <td>
                    <ul>
                        <li>Barato</li>
                        <li>Liviano</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Calurosa</li>
                        <li>Pica</li>
                        <li>Poco resistente</li>
                    </ul>
                </td>
            </tr>
            <tr>
                <td>Lana acrilica</td>
                <td>
                    <ul>
                        <li>Liviana</li>
                        <li>Resistente</li>
                    </ul>
                </td>
                <td>
                    <ul>
                        <li>Calurosa</li>
                        <li>Destiñe</li>
                    </ul>
                </td>
            </tr>

        </table>

    </main>
    <!-- fin main -->
    <!-- inicio footer -->
    <footer>
        <ul>
            <li><a target="_blank" href="https://www.instagram.com/hebrastienda/?hl=es-la">Instagram</a></li>
            <li><a target="_blank" href="https://www.youtube.com/channel/UCeF1BY-279NnU1FML8DUvXA/videos">Youtube</a>
            </li>
        </ul>
    </footer>
    <!-- fin footer -->
</body>

</html>