<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hebras Nosotros</title>
    <link rel="stylesheet" href="../css/stylegrids.css">
</head>

<body>
    <div class="grid_nosotros">
        <!-- inicio header -->
        <header>
            <nav class="navbar">
                <a href="../../Index.html" class="logo"><img src="../image/logo2.svg" alt="Logo Hebras"></a>
                <ul class="menu">
                    <li><a href="../views/materiales.html"> Materiales</a></li>
                    <li><a href="../views/galeria.html"> Galeria</a></li>
                    <li><a href="../views/nosotros.html"> Nosotros</a></li>
                    <li><a href="../views/contacto.html"> Contacto</a></li>
                </ul>
            </nav>
        </header>
        <!-- fin header -->
        <!-- inicio main -->
        <main>
            <section>
                <div class="titulonosotros">
                    <h2>
                        Acerca de nosotros
                    </h2>
                </div>
                <div class="fotonosotros1">
                    <img src="../image/Nosotros.jpeg" alt="Hebras" width="200px">
                </div>
                <article>
                    <p class="textonosotros">
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of
                        type
                        and scrambled it to make a type specimen book. It has survived not only five centuries, but also
                        the
                        leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
                        1960s
                        with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with
                        desktop
                        publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </article>
                <div class="fotonosotros2">
                    <img src="../image/foto7.jpeg" alt="Productos" width="200px">
                </div>
            </section>
        </main>
        <!-- fin main -->
        <!-- inicio footer -->
        <footer>
            <ul>
                <li><a target="_blank" href="https://www.instagram.com/hebrastienda/?hl=es-la">Instagram</a></li>
                <li><a target="_blank"
                        href="https://www.youtube.com/channel/UCeF1BY-279NnU1FML8DUvXA/videos">Youtube</a>
                </li>
            </ul>
        </footer>
        <!-- fin footer -->
    </div>
</body>

</html>