.titulogaleria {
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
}

.subgaleria {
    font-size: 45px;
    text-align: center;
}

.galeria {
    text-align: center;

    & div img {
        margin: 20px;
    }
}